version: '3.8'
services:
  db:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: title_db
    ports:
      - "5433:5432"